body {
    background:url(https://upload.wikimedia.org/wikipedia/commons/4/4a/Color_changing_gradient_rainbow.gif);;
    font-family: sans-serif;
    color:white;
    margin:0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

section{
    height:99%;
    width:99.5%;
    margin:0px;
    background-color: rgb(21, 21, 21);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius:10px;
}

.name-container {
    width: 30%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    background:url(https://upload.wikimedia.org/wikipedia/commons/4/4a/Color_changing_gradient_rainbow.gif);
    -webkit-background-clip:text;
    color:transparent;
    font-size:35px;
    padding:10px;
    margin:0px;
}

@media (max-width:721px){
    body{
        width:99%;
        margin:auto;
        padding:0px;
        height:90vh;
    }
    
    section{
        display:grid;
        grid-template-rows:1fr 1fr;
        grid-template-columns:1fr;
        place-items:center;
        border-radius:30px;
        height:90vh;
        margin-top:15px;
    }
    
    .name-container{
        font-size:35px;
        width:90%;
        height:50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        line-height:0px;
    }
}
